@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slideDown {
    from {
      opacity: 0;
      max-height: 0;
      transform: translateY(-10px);
    }

    to {
      opacity: 1;
      max-height: 2000px;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slideDown {
    animation: slideDown 0.3s ease-out forwards;
  }

  .animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
  }
}